@import "./root.css";
@import "./utils.css";

body {
    /* --grid-order is set programmatically.*/
    --grid-length: calc(var(--grid-order)  * var(--grid-order));
    --grid-area:   calc(var(--grid-length) * var(--grid-length));

    font-family: monospace;
}

.tile {
}
.tile--char {
}

#grid-host {
    display: grid;
}
.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-length), 2em);
    grid-auto-rows: 2em;
}
